#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(42, 42, 42);
  color: white;
  text-align: center;

}

#plus-sign {
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
}


