{% extends 'base.html' %}
{% block content %}

<div style='margin:50px; text-align:center;' class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <h1>Welcome to KB FIT</h1>
            <p>KB FIT is a fitness app that helps you track your kettlebell workouts. You can log your workouts, view your workout history, and see your progress over time.</p>
            <p>Get started by logging your first workout session. Click the '+' button in the navigation bar to log a new workout.</p>
        </div>
    </div>
</div>

{% endblock %}