{% extends "base.html" %}
{% block content %}

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Session Focus</th>
        <th scope="col">HRV</th>
        <th scope="col">RPE</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      {% for session in sessions  %}
      <tr class="table-primary">
        <th scope="row"><a class="text-decoration-none" href="{% url 'session_detail' session.pk  %}">{{ session.date }}</a></th>
        <td><a class="text-decoration-none" href="{% url 'session_detail' session.pk  %}">{{ session.program_info }}</a></td>
        <td><a class="text-decoration-none" href="{% url 'session_detail' session.pk  %}">{{ session.hrv }}</a></td>
        <td><a class="text-decoration-none" href="{% url 'session_detail' session.pk  %}">{{ session.rpe }}</a></td>
        <td><a class="text-decoration-none" href="{% url 'session_detail' session.pk  %}">More Info</a></td>
      </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %}