{% extends "base.html" %}
{% block content %}

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Session Focus</th>
      </tr>
    </thead>
    <tbody>
      {% for session in sessions  %}
      <tr class="table-primary">
        <th scope="row"><a class="text-decoration-none" href="{% url 'session_detail' session.pk  %}">{{ session.date|date:"l, F j, Y" }}</a></th>
        <td><a class="text-decoration-none" href="{% url 'session_detail' session.pk  %}">{{ session.program_info|upper }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% endblock %}