{% extends "base.html" %}
{% block content %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date: </th>
      <th scope="col">{{ session.date }}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary">
      <th scope="row">Warm-Ups:</th>
      <td>
        {% for warmup in session.warmup.all %}
          {{ warmup }}<br>
        {% endfor %}
      </td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Exercises:</th>
      <td>
        {% for exercise in session.exercise.all %}
          {{ exercise }}<br>
        {% endfor %}
      </td>
    </tr>
    <tr class="table-primary">
      <th scope="row">RPE:</th>
      <th scope="row">{{ session.rpe }}</th>
    </tr>
    <tr class="table-primary">
      <th scope="row">HRV:</th>
      <th scope="row">{{ session.hrv }}</th>
    </tr>
    <tr class="table-primary">
      <th scope="row">Notes:</th>
      <th scope="row"><span style="font-size:1.5vw">{{ session.notes }}</span></th>
    </tr>
  </tbody>
</table>

{% endblock %}