{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<div style="margin-bottom: 4vh;">
    <form class="form-control"  method="POST">
        <div class="" style="padding:25px">
            {% csrf_token %}
            {{ form.as_p }}
            {{ warmup_formset.as_p }}
            {{ exercise_formset.as_p }}
        </div>    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="errors">
        {% if form.errors or warmup_formset.errors or exercise_formset.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {% for field in warmup_formset %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in warmup_formset.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {% for field in exercise_formset %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in exercise_formset.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}