{% extends "base.html" %}
{% block content %}

{% for session in sessions  %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Session Focus</th>
        <th scope="col">HRV</th>
        <th scope="col">RPE</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-primary">
        <th scope="row">{{ session.date }}</th>
        <td>{{ session.program_info }}</td>
        <td>{{ session.hrv }}</td>
        <td>{{ session.rpe }}</td>
        <td><a href="{% url 'session_detail' session.pk  %}">More Info</a></td>
      </tr>
    </tbody>
  </table>
{% endfor %}

{% endblock %}