{% extends "base.html" %}
{% block content %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{ exercise }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">This exercise can be used for:</h6>
        <ul>
            {% for type in exercise.types.all %}
            <li>{{type}}</li>
            {% endfor %}
        </ul>
        {% if user.is_authenticated %}
            <div style="display: flex; gap: 10px;">
                <a href="{% url 'exercise_update' exercise.id %}" class="text-decoration-none card-link">
                    <button type="button" class="btn-sm btn btn-dark">Modify</button>
                </a>
                <form method="POST" action="{% url 'exercise_delete' exercise.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-sm btn btn-danger">Delete</button>
                </form>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}