{% extends 'base.html' %}
{% block content %}

<div style="padding:50px 100px 50px 100px;">
  {% if object %}
    <h1 style="text-align:center;">Edit <span style="color:gray">{{object.name}}</span></h1>
  {% else %}
    <h1 style="text-align:center;">Add Exercise</h1>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <table class="table">
        {% for field in form %}
          {% if field.name != 'reps' and field.name != 'sets' and field.name != 'time' and field.name != 'user' %}
            <tr><th>{{ field.label }}</th><td>{{ field }}</td></tr>
          {% endif %}
        {% endfor %}
    </table>
    <div style="text-align:center;">
      {% if object %}
        <button type="submit" class="btn btn-primary">Update</button>
          {% else %}
        <button type="submit" class="btn btn-primary">Create</button>
      {% endif %}
    </div>
  </form>
</div>

{% endblock %}
