{% extends 'base.html' %}
{% block content %}

<ul class="list-group">
{% for exercise in exercises %}
  <li class="list-group-item justify-content-between align-items-center">
    <a class="text-decoration-none" href="{% url 'exercise_detail' exercise.id %}">{{ exercise|upper }}</a>
      {% for type in exercise.types.all %}
        <span class="badge bg-primary rounded-pill float-end">{{ type }}</span>
      {% endfor %}
  </li>
  {% endfor %}
</ul>
{% if user.is_authenticated %}
<div style="text-align:center;margin-top:3vh;">
  <a href="{% url 'exercise_create' %}">
    <button type="button" class="btn btn-outline-primary">Add an Exercise</button>
  </a>
</div>
{% endif %}

{% endblock %}

